html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.carousel {
    position: relative;
}

.menu {
    top: 20px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0;
}

.slide {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.slide1 {
    background-image: url("img/Laptops.jpg");
}

section {
    color: rgb(102, 98, 98);
    padding-top: 40px;
    width: 100%;
    text-align: center;
    background: -moz-linear-gradient(top, #efefef 0%, #efefef 779%, #ffffff 80%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#efefef 79%,#ffffff 80%,#ffffff 100%); 
    background: linear-gradient(to bottom, #efefef 0%,#efefef 79%,#ffffff 80%,#ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );
}

section h5 {
    font-weight: 600;
    text-transform: uppercase;   
}

section p {
    color: rgb(153, 151, 151);
    margin-bottom: 50px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.logotyp {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    height: 55px;
}

.logotyp_icon {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 35px;
    color: #ffffff;
}

.nav-item {
    border-bottom: 1.5px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.nav-item:hover {
    border-bottom: 1.5px solid #fff;
    transform: scale(1.1);
}

.nav-item:first-of-type:hover {
    border-bottom: 1.5px solid rgb(135,182,114);
}

.logotyp_icon h4 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-left: 5px;
}

.fa-search {
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.fa-search:hover {
    transform: scale(1.1);
}

.carousel-control-next,
.carousel-control-prev {
    width: 0;
    margin: 0 80px;
}

.text-on-slider {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

p {
    color: #ffffff;
    font-size: 16px;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.btn-portfolio {
    width: 110px;
    cursor: pointer;
    height: 35px;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 40px; 
    padding-top: 4px;
    text-decoration: none;

    transition: all .1s ease-in-out;
    text-transform: uppercase;
}

.btn-portfolio:hover {
    transform: scale(1.1)
}

.email-form {
    float: left;
    width: 70%;
    height: 35px;
    left: 0;
    text-align: left;
    padding-top: 4px;
    padding: 5px;
    margin-top: 20px;
}

.accept-email {
    text-transform: uppercase;
    padding: 8px;
    width: 28%;
    height: 35px;
    color: white;
    text-align: center;
    background-color: rgb(130, 130, 130);
    margin-top: 20px;
    margin-left: 72%;
    box-shadow: 3px 3px #232121;
    cursor: pointer;
    user-select: none;
}

.accept-email:active {
    box-shadow: 0 0px #232121;
    transform: translateY(3px);
}

#navbarMy a {
    color: #ffffff;
    font-weight: 700;
}

#navbarMy span {
    margin-right: 3px;
    color:  rgba(255,255,255,0.8)
}

#navbarMy {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 100px;
}

#navbarMy li {
    margin-left:15px;
}

#navbarMy li:first-child a {
    color: rgb(135,182,114);
}

footer {
    padding: 60px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.footer_first {
    text-align: right;
    font-size: 16px;
    color: rgb(132, 131, 131);
}

.footer_first p {
    text-align: left;
    font-size: 14px;
    color: rgb(153, 151, 151);
}

.footer_second {
    text-align: right;
    font-size: 12px;
}

.angle-right:hover {
    transform: translateX(3px);
    color: #fff;
}

footer hr {
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
    margin-top: 45px;
    margin-bottom: 20px;
}

.footer_second h6 {
    text-align: left;
    font-size: 17px;
    color: #ffffff;
}

.copyright {
    color: rgb(128, 128, 128);
}

.copyright span {
    color: #ffffff;
    font-weight: 500;
}

.footer_second p:last-child {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
}

.footer_second p {
    text-align: left;
    font-size: 14px;
    color: rgb(153, 151, 151);
}

.footer_third {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(153, 151, 151);
}

.footer_third h6 {
    font-size: 17px;
    color: #ffffff;
    text-align: left;
}

.footer_fourth {
    font-size: 12px;
    margin-top: 24px;
    padding-left: 15px;
    color: white;
}

.footer_fourth p {
    text-align: left;
    font-size: 14px;
    color: rgb(153, 151, 151);
}

aside {
    text-align: center;
    margin-bottom: 50px;
}

aside p {
    width: 100%;
    color: rgb(102, 98, 98);
    margin-top: 22px;
    margin-bottom: 22px;
}

aside p:nth-of-type(2) {
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    background-color:rgb(135,182,114);
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    right: 0;
    left: 0;
    padding: 6.1px 0;;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: auto;
    transition: all .1s ease-in-out;
}

aside p:nth-of-type(2):hover {
    transform: scale(1.1)
}

aside h5 {
    color: rgb(102, 98, 98);
    text-transform: uppercase;
    font-weight: 600;
}

.text-on-slider span {
    color: rgb(135,182,114);
    font-weight: 700;
}

article {
    width: 100%;
    text-align: center;
    margin-top: 89px;
    color: rgb(102, 98, 98);
    padding-top: 30px;
}

article p {
    color: rgb(204, 204, 204);
}

.icon {
    background-color:#ffffff;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    opacity: 0.7;
    height: 30px;
    width:30px; 
    border-radius: 50%; 
    margin: 5px;
    text-align: center;
    padding: 3px 0;
    font-size: 18px;
    transition: all .1s ease-in-out;
}

.icon:hover i {
    color: rgb(135,182,114);
}
.icon:hover {
    transform: scale(1.1);
}
article hr {
    width: 100%;
    height: 1px; 
    margin-top: 45px;
    margin-bottom: 45px;
}

.last-hr-line {
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
    margin-top: 30px;
    margin-bottom: 35px;
}

header hr {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 0 0;
}

footer h6 {
    text-transform: uppercase;
}

.service {
    display: block;
    padding: 20px;
    width: 33.33%;
    text-align: center;

}

.service p {
    color: rgb(155, 153, 153);
    font-size: 14px;
    font-weight:500; 
}

.service h5{
    font-weight: 500;
    color: rgb(102, 98, 98);
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

article .fas{
    font-size: 100px;
    color: rgb(185, 183, 183);
}

.next {
    font-size: 45px;
    color: white;
    margin-top: 45px;
}

.prev {
    font-size: 45px;
    color: white;
    margin-top: 45px;
    transform: scale(-1, 1);
}

@media screen and (max-width: 992px) {
    .service {
         width: 100%;
        }
      }
@media screen and (max-width: 365px) {

     .text-on-slider{
        font-size: 24px;
    } 
    .navbar{
        margin-bottom: 0;
    }
    .fa-search {
        margin-left: 16px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        margin-bottom: -350px;
        margin-left: 80px; 
        margin-right: 80px;
    }
    .btn-portfolio {
        margin-top: 30px;
    }
    .computer img {
        width: 100%    ;
    }

  }